@using Hangman.Models;

@if (Model.Count == 0)
{
  <h2>You haven't started guessing any words yet!</h2>
}
<ul>
  @foreach(Word word in Model)
  {
    <li><a href='/words/@word.Id'>@word.RevealedLetters</a></li>
  }
</ul>

<p><a href='/words/new'>Get a word</a></p>


@* @using Hangman.Models;

@if (Model["guesses"].Count == 0)
{
  <h2>You haven't tried to guess any letters yet!</h2>
}
<ol>
  @foreach(Guess guess in Model["guesses"])
  {
    <li><a href='/words/@Model["words"].Id/guesses/@guess.Id'>@guess.Letter</a></li>
  }
</ol>

<p><a href='/words/@Model["words"].Id/guesses/new'>Guess a letter</a></p> *@

