<form action="/words/new" method="post">
  <label for="newWord">Input New Word</label>
  <input type="text" id="newWord" name="newWord">
  <button type="submit" class="btn btn-warning">submit!</button>
</form>