<form action="/words/@Model.Id/guesses" method="post">
  <input type="number" id="wordId" name="wordId" hidden value="@Model.Id">
  <label for="guessInput">Enter one letter to make a guess:</label>
  <input id="guessInput" name="guessInput" type="text">
  <button type="submit">Guess!</button>
</form>